<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 Copyright (c) 2018 University of Southampton.
 
 All rights reserved. This program and the accompanying materials  are made
 available under the terms of the Eclipse Public License v1.0 which accompanies
 this distribution, and is available at http://www.eclipse.org/legal/epl-v10.html
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated marking -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="ac.soton.xmarking.marking.presentation.MarkingModelWizardID"
            name="%_UI_MarkingModelWizard_label"
            class="ac.soton.xmarking.marking.presentation.MarkingModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/MarkingModelFile.gif">
         <description>%_UI_MarkingModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated marking -->
      <editor
            id="ac.soton.xmarking.marking.presentation.MarkingEditorID"
            name="%_UI_MarkingEditor_label"
            icon="icons/full/obj16/MarkingModelFile.gif"
            extensions="mrk"
            class="ac.soton.xmarking.marking.presentation.MarkingEditor"
            contributorClass="ac.soton.xmarking.marking.presentation.MarkingActionBarContributor">
      </editor>
   </extension>

</plugin>
